<body>
  <a href="/astro-test/">Home</a>
  <a href="/astro-test/about">About</a>
  <a href="/astro-test/blog">Blog</a>

  <h1>My Astro Site</h1>
  <h1>Blog page</h1>
  <h2>... and my new Astro site!</h2>
  
  <ul>
    <li><a href="/astro-test/posts/post-1">Post 1</a></li>
    <li><a href="/astro-test/posts/post-2/">Post 2</a></li>
    <li><a href="/astro-test/posts/post-3/">Post 3</a></li>
  </ul>
</body>
